.tabela div{
	/*padding:5px;*/
	margin:5px;
	/*border:1px; 
	border-style:solid;*/
}

.dados{
	height:40px;
}
.dados div{
	float:left;
}
.clear{
	clear:both;		
	border-style:none; 
}

.navbar{
    margin-bottom:50px;
    border:1px solid;
    
}

.navbar ul{
	list-style:none;
	margin:0;
	padding:5px;
	height:20px;
}

.navbar ul li{
	display:inline;
	margin:0;
	border:1px solid;
        border-top:none;
        border-bottom:none;
        border-left:none;
}

.navbar ul li a{        
	text-decoration: none;	
	padding: 3px;
	margin:0;
}

.container{
    width:500px;
    margin: 0 auto;
    border:1px solid;
    padding:5px;
}

.dia{
    border:1px solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.title{
    border:1px solid;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    margin-bottom:0 !important;
    padding:5px;
}

.hour{
    border:1px solid;
    border-radius:4px;
    padding:5px;
}
.dados{
    border:1px solid;
    border-top:none ;
    margin-top:0 !important;
    margin-bottom:0 !important;

}